--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cpu

numpy==2.0.2
requests>=2.25.0
pdfplumber==0.11.4
torch==2.3.1
transformers==4.46.3
tokenizers==0.20.3
huggingface-hub==0.24.6
sentence-transformers==2.6.1

google-generativeai>=0.7.0   # for Gemini API key

pydub>=0.25.0
